


.primary-button{
  @apply flex justify-center items-center w-full text-center px-4 py-3 rounded bg-blue-400 text-white hover:bg-blue-500 focus:outline-none my-1;
}

.secondary-button{
  @apply flex justify-center items-center w-full text-center px-4 py-3 rounded bg-gray-400 text-white hover:bg-gray-500 focus:outline-none my-1;
}

.delete-button{
  @apply flex justify-center items-center  w-full text-center px-4 py-3 rounded bg-red-400 text-white hover:bg-red-500 focus:outline-none my-1;
}

.success-button{
  @apply flex justify-center items-center w-full text-center px-4 py-3 rounded bg-green-400 text-white hover:bg-green-500 focus:outline-none my-1;
}

.partners-button{
  @apply flex justify-center items-center w-full text-center px-4 py-3 rounded bg-purple-400 text-white hover:bg-purple-500 focus:outline-none my-1;
}

.warning-button{
  @apply flex justify-center items-center  w-full text-center px-4 py-3 rounded bg-yellow-400 text-white hover:bg-yellow-500 focus:outline-none my-1;
}